<%- include('_newmarkermenu') %>

<img id="crosshair" src="icons/crosshair.png" />
<div id="context-menu" class="noselect">
  <ul>
    <li id="new-marker">New marker</li>
    <li id="marker-type-options">
      <div class="marker-select-button"><img src="icons/bar.png" /></div>
      <div class="marker-select-button"><img src="icons/cafe.png" /></div>
      <div class="marker-select-button"><img src="icons/food.png" /></div>
      <div class="marker-select-button"><img src="icons/misc.png" /></div>
      <div class="marker-select-button"><img src="icons/view.png" /></div>
    </li>
  </ul>
</div>