<div class="header">
  <img src="https://openclipart.org/download/234349/flat_location_logo.svg" alt="wikimap">
  <span class="edit">
    <button class="create">Create</button>
    <button class="edit-save">Edit</button>
    <i class="fa fa-map-pin" aria-hidden="true"></i>
    <i class="fa fa-map-pin" aria-hidden="true"></i>
    <i class="fa fa-map-pin" aria-hidden="true"></i>
  </span>
  <span class="login">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
      <ul id="login-dp" class="dropdown-menu">
             <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                <div class="form-group">
                   <input type="email" class="form-control" placeholder="Email address" required>
                </div>
                <div class="form-group">
                   <input type="password" class="form-control" placeholder="Password" required>
                <div class="form-group">
                   <button type="submit">Log in</button>
                </div>
              </form>
       </div>
    </li>
  </ul>
</span>
</div>