<nav id="wrapper" class="navbar navbar-defaults" role="navigation">
    <div class="navbar-header">
        <img src="https://openclipart.org/download/234349/flat_location_logo.svg" alt="wikimap">
        <button type="button" class="sidebar-toggle btn">Hide Menu</button>
    </div>
    <div>
        <ul class="navbar-top-links navbar-middle">
            <li>
                <button class="btn btn-primary edit-map-btn">Edit</button>
                <button class="btn btn-primary create-map-btn">Create</button>
                <button class="btn btn-primary delete-map-btn">Delete</button>
                <button style="color:red" class="btn btn-primary fa fa-heart"></button>
            </li>
        </ul>
        <ul class="navbar-top-links navbar-right">
            <li>
                <button id="logout-button" class="btn btn-primary btn-block">Log out</button>
            </li>  

            <li>
                <ul class="users">
                    <li>
                        <button data-id="0" class="btn btn-primary btn-block login-button">USER 1</button>
                    </li>
                    <li>
                        <button data-id="1" class="btn btn-primary btn-block login-button">USER 2</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
    