<div id="wrapper">
        <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <img src="https://openclipart.org/download/234349/flat_location_logo.svg" alt="wikimap">
            <button type="button" class="sidebar-toggle btn">Menu</button>
        </div>
                    <!-- /.navbar-header -->
              
             <ul class="nav navbar-top-links navbar-middle">
                 <span class="">
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-primary">Create</button>
                    <button class="btn btn-primary">Delete</button>
                </span>
                <i class="fa fa-map-pin"></i> 
                <i class="fa fa-map-pin"></i>
                <i class="fa fa-map-pin"></i>
                <i class="fa fa-map-pin"></i>
                </ul>
             <ul class="nav navbar-top-links navbar-right">
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <!-- /.dropdown -->
                    </ul>
    </nav>
</div>