<nav id="wrapper" class="navbar navbar-defaults" role="navigation">
    <div class="navbar-header">
        <img src="/icons/logo.png" alt="wikimap">
        <button type="button" class="sidebar-toggle btn">Hide Menu</button>
    </div>
    <div>
        <ul class="navbar-top-links navbar-right">
            <li>
                <button id="logout-button" class="btn btn-primary btn-block">Log out</button>
            </li>  

            <li>
                <ul class="users">
                    <li>
                        <button data-id="0" class="btn btn-primary btn-block login-button">USER 1</button>
                    </li>
                    <li>
                        <button data-id="1" class="btn btn-primary btn-block login-button">USER 2</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
    