<div id="new-marker-menu" class="noselect">
  <form id="new-marker-form" class="form-group row">
      <ul>
        <li class="heading">
          <h2>Create new marker</h2>
        </li>
        <li>
          <label for="title" class="noselect col-sm-4">Title:</label>
          <input class="field col-sm-8" id="title" type="text" name="title" />
        </li>
        <li>
          <label for="description" class="noselect col-sm-4">Description:</label>
          <input class="field col-sm-8" id="description" type="text" name="description" />
        </li>
        <li>
          <label for="image" class="noselect col-sm-4">Image:</label>
          <input class="field col-sm-8" id="image" type="text" name="image" />
        </li>
        <li>
          <label for="url" class="noselect col-sm-4">URL:</label>
          <input class="field col-sm-8" id="url" type="text" name="url" />
        </li>
        <li class="save-cancel">
          <button class="btn btn-primary" id="cancel">cancel</button>
          <input class="btn btn-primary" type="submit" id="save" value="save">
        </li>
      </ul>
  </form>
</div>



<img id="crosshair" src="icons/crosshair.png" />



<div id="context-menu" class="noselect">
  <ul>
    <li id="new-marker">New...</li>
    <li class="marker-select-button" data-markerType="food"><img src="icons/food.png" />Food Marker</li>
    <li class="marker-select-button" data-markerType="bar"><img src="icons/bar.png" />Drink Marker</li>
    <li class="marker-select-button" data-markerType="cafe"><img src="icons/cafe.png" />Cafe Marker</li>
    <li class="marker-select-button" data-markerType="view"><img src="icons/view.png" />View Marker</li>
    <li class="marker-select-button" data-markerType="misc"><img src="icons/misc.png" />Misc Marker</li>
  </ul>
</div>