<div id="new-marker-menu" class="noselect">
  <form id="new-marker-form">
      <ul>
        <li>
          <label for="title" class="noselect">Title:</label>
          <input class="input-field" id="title" type="text" name="title" /><br />
        </li>
        <li>
          <label for="description" class="noselect">Description:</label>
          <input class="input-field" id="description" type="text" name="description" /><br />
        </li>
        <li>
          <label for="image" class="noselect">Image:</label>
          <input class="input-field" id="image" type="text" name="image" /><br />
        </li>
        <li>
          <label for="url" class="noselect">URL:</label>
          <input class="input-field" id="url" type="text" name="url" /><br />
        </li>
      </ul>
    <input type="submit" id="save" value="save">
    <button id="cancel">cancel</button>
  </form>
</div>