<div id="new-marker-menu" class="noselect">

  <form id="new-marker-form">
    <table class="table">

      <tr>
        <td class="label">
          <label for="title" class="noselect">Title:</label>
        </td>
        <td class="input">
          <input class="input-field" id="title" type="text" name="title" /><br />
        </td>
      </tr>

      <tr>
        <td class="label">
          <label for="description" class="noselect">Description:</label>
        </td>
        <td class="input">
          <input class="input-field" id="description" type="text" name="description" /><br />
        </td>
      </tr>

      <tr>
        <td class="label">
          <label for="image" class="noselect">Image:</label>
        </td>
        <td class="input">
          <input class="input-field" id="image" type="text" name="image" /><br />
        </td>
      </tr>

      <tr>
        <td class="label">
          <label for="url" class="noselect">URL:</label>
        </td>
        <td class="input">
          <input class="input-field" id="url" type="text" name="url" /><br />
        </td>
      </tr>


      <!-- <tr>
        <td>
          <div class="errorText noselect"></div>
        </td>
      </tr> -->



    </table>

    <input type="submit" id="save" value="save">
    <button id="cancel">cancel</button>

  </form>

</div>