<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                    <!-- /input-group -->
                </li>
            
                <li>
                    <a href="#"><i class="fa fa-globe"></i> List of Maps </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Map 1</a>
                        </li>
                        <li>
                            <a href="#">Map 2</a>
                        </li>
                        <li>
                            <a href="#">Map 3</a>
                        </li>
                         <li>
                            <a href="#">Map 4</a>
                        </li>
                         <li>
                            <a href="#">Map 5</a>
                        </li>
                        <li>
                            <a href="#">Map 6</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
    </div>
</div>