<div class="sidebar">
    
    <div class="sidebar-search">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </form> 

    <div>
      <ul>
        <li class="maps">list of maps</li>
        <li class="maps">list of maps</li>
        <li class="maps">list of maps</li>
      </ul>
    </div>
</div>