$font-stack:    Helvetica, sans-serif;
$primary-color: white;
$button-color: #337ab7;
$shadow-color: #999999;

html, body {
  font: $font-stack;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgba(0, 0, 0, 0) !important;
  position: fixed;
  z-index: 50;
  width: 100%;
}
.nav>li {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #696969;
}

img {
  width:5em;
  
}


@media(min-width:768px) {
    #wrapper {
        position: inherit;
        width: 100%;
        margin:0;
        opacity: 0.9;
    }
}


.navbar-top-links {
  margin-right: 0;
  float:left;
  margin-top:17px;

  li {
    display: inline-block;

    a {
      padding: 15px;
      min-height: 50px;
    }
  }
  
  .dropdown-menu  {
    display: block;
    
    li {display: inline-block;
      &:last-child {margin-right: 15px}

      a {
        padding: 3px 20px;
        min-height: 0;
        div {
          white-space: normal;
        }
      }
    }
  } 
} 

.navbar-header {
  span {
    padding:20px;
    font-size: large;
    color:$button-color
  }
}
//sidebar


.sidebar {
  opacity: 0.9;
  filter: alpha(opacity=50);
  position: fixed;
  top: 50px;
  

  .sidebar-nav.navbar-collapse {
      padding-left: 0;
      padding-right: 0;
  }
  .sidebar-search {
    padding: 15px;
  }
  ul li {

    &.map-li {
      border-bottom: 1px solid rgb(182, 182, 182);
    }

    a {
      word-wrap: break-word;
      &.active {
          background-color: grey;
      }
    }
  }
  .map-list {
    border-bottom: none !important;
    li a {
      padding-left: 37px;
    }
  }
}

div .list {
  height:200px;
  overflow: scroll
}
@media(min-width:768px) {
  .sidebar {
      z-index: 1;
      position: fixed;
      width: 250px;
      margin-top: 51px;
  }
}

// Buttons

.btn {
  position: relative;
  border: 0 !important;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  font-weight: bold !important;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  -webkit-transition: all 50ms ease;
  -moz-transition: all 50ms ease;
  -o-transition: all 50ms ease;
  transition: all 50ms ease;
  border: 0;
  text-shadow: 0px 1px 0px $shadow-color;
  background-color: #cccccc;
  -webkit-box-shadow: 0px 6px 0px $shadow-color;
  -moz-box-shadow: 0px 6px 0px $shadow-color;
  box-shadow: 0px 6px 0px $shadow-color;
  &:focus {
    outline: 0;
  }
  &:hover {
    top: 2px;
    border: 0;
    background-color: #d9d9d9 !important;
    -webkit-box-shadow: 0px 4px 0px $shadow-color;
    -moz-box-shadow: 0px 4px 0px $shadow-color;
    box-shadow: 0px 4px 0px $shadow-color;
  }
  &:active {
    top: 6px;
    -webkit-box-shadow: inset 0px 3px 0px $shadow-color;
    -moz-box-shadow: inset 0px 3px 0px $shadow-color;
    box-shadow: inset 0px 3px 0px $shadow-color;
  }
}

.liked, .changed {
  padding:0px 10px;
  float: right;
  cursor: pointer;
}

.btn-primary {
  margin:10px 0px;
  border: 0;
  text-shadow: 0px 1px 0px $button-color;
  background-color: #428bca;
  -webkit-box-shadow: 0px 6px 0px $button-color;
  -moz-box-shadow: 0px 6px 0px $button-color;
  box-shadow: 0px 6px 0px $button-color;
  &:hover {
    border: 0;
    background-color: #5697d0 !important;
    -webkit-box-shadow: 0px 4px 0px $button-color;
    -moz-box-shadow: 0px 4px 0px $button-color;
    box-shadow: 0px 4px 0px $button-color;
  }
  &:active {
    -webkit-box-shadow: inset 0px 3px 0px $button-color;
    -moz-box-shadow: inset 0px 3px 0px $button-color;
    box-shadow: inset 0px 3px 0px $button-color;
  }
}

.map-list-item {
  cursor: pointer;
  color: rgb(28, 26, 36);
  font-weight: bold;


  &:hover {
    background-color: rgba(225, 225, 255, 0.781);
    text-decoration: underline;
  }
}


a {
  display: inline;
}
