.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#map {
  height: 90%;
  width: 100%
}

#crosshair {
  display: none;
  position: absolute;
  z-index: 3;
  width: 24px;
}

#context-menu {
  display: none;
  position: absolute;
  z-index: 5;
  padding: 0;
  background-color: rgba(127, 209, 182, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.33);
  border-radius: 6px;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    
    li {
      text-align: center;
      
      .marker-select-button {
        display: inline-block;
      }

      .marker-select-button img {
        width: 24px;
      }

      .marker-select-button:hover {
        background-color: rgba(118, 255, 118, 0.822);
        cursor: copy;
      }
    }
  }
  
  #new-marker {
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(107, 107, 107);
    padding: .3rem;
    border-radius: 6px 6px 0 0;
    background-color: rgba(211, 211, 211, 0.618);

  }
}

#new-marker-menu {
  display: none;
  position: absolute;
  z-index: 6;
  background-color: rgb(237, 237, 237);
  border: 1px solid rgba(0, 0, 0, 0.378);
  border-radius: 6px;
  font-size: .8rem;

  ul {
    list-style-type: none;
  }

  h2 {
    color: black;
  }

}

.info-window-display {

  li {
    list-style-type: none
  }
}

.info-window-edit {
  display: none;
}

.control-div {
  padding: 0.6%;

  .control-wrapper {
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-color: rgba(106, 106, 106, 0.508);
    border-width: 0;
    cursor: pointer;
    text-align: center;
    width: 32px;
    height: 64px;
    color: black;

    .zoom-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      background-color: rgba(255, 255, 255, 0.467);
      border-color: rgba(121, 121, 121, 0.289);
    }

    .zoom-in {
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }

    .zoom-out {
      border-top-style: solid;
      border-top-width: 1px;
    }
    

  }
}
