.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#map {
  height: 100%;
  width: 100%;
  z-index: 0;
}

#crosshair {
  display: none;
  position: absolute;
  z-index: 3;
  width: 24px;
}

#context-menu {
  display: none;
  position: absolute;
  z-index: 5;
  padding: 0.2em 0.4em;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1em;

    li {
      text-align: left;
      padding: 0.2em 0.2em;

      &.marker-select-button img {
        width: 12px;
        margin-right: 0.6em;
      }

      &.marker-select-button:hover {
        background-color: rgba(162, 238, 237, 0.645);
        cursor: pointer;
      }
    }
  }

  #new-marker {
    border-bottom: 1px solid gainsboro;
  }
}

#new-marker-menu {
  display: none;
  position: absolute;
  z-index: 6;
  background-color: white;
  font-size: 1em;
  padding: 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

form.new-or-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      &.heading {
        justify-content: flex-start;
      }
      &.save-cancel {
        justify-content: right;
      }
      label {
        margin: 0;
        padding: 1em;
        text-align: right;
        max-width: 8em;
      }
      input.field {
        width: 100%;
        min-width: 20em;
        max-width: 20em;
        padding: 0;
      }
    }
  }
  h2 {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
  }
}

.info-window-display {
  li {
    list-style-type: none
  }
}

.info-window-edit {
  display: none;
}

.control-div {
  padding: 0.6%;

  .control-wrapper {
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-color: rgba(106, 106, 106, 0.508);
    border-width: 0;
    cursor: pointer;
    text-align: center;
    width: 32px;
    height: 64px;
    color: black;

    .zoom-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      background-color: rgba(255, 255, 255, 0.467);
      border-color: rgba(121, 121, 121, 0.289);
    }

    .zoom-in {
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }

    .zoom-out {
      border-top-style: solid;
      border-top-width: 1px;
    }
  }
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

#new-marker-menu label{
  padding-right: 35px;
}