#map {
  height: 100%;
  width: 100%
  position
}


#crosshair {
  display: none;
  position: absolute;
  z-index: 4;
}

#context-menu {
  // width: 10rem;
  // height: 0.9rem;
  display: none;
  position: absolute;
  z-index: 5;
  padding: 0.15rem;
  background-color: rgba(127, 209, 182, 0.5);
  border: 1px solid black;
  border-radius: 6px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;

    .marker-select-button:hover {
      background-color: rgb(0, 255, 0);
      cursor: copy;
    }
  }

  #new-marker {
    background-color: rgba(127, 209, 182, 1);
  }
}

#new-marker-menu {
  display: none;
  position: absolute;
  z-index: 6;
  background-color: rgba(127, 209, 182, 1);
  border: 1px solid black;
  border-radius: 6px;
  font-size: .8rem;

}


.info-window {

  li {
    list-style-type: none
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}